@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff; /* White */
  --foreground: #333333;
  --primary: #A52A2A; /* Brown */
  --primary-dark: #800000; /* Darker Brown */
  --primary-light: #D2691E; /* Lighter Brown */
  --primary-foreground: #ffffff;
  --card: #ffffff;
  --card-foreground: #A52A2A;
  --muted: #e0e0d0;
  --muted-foreground: #666666;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}